@import './var.scss';
@import "../mixins/mixins.scss";

// 过度
.go-transition {
    transition: all 0.4s;
}

.go-flex-no-wrap {
    flex-wrap: nowrap !important;
}

// cursor 小手
.go-cursor-pointer {
    cursor: pointer;
}

.go-d-inline-block {
    display: inline-block;
}
.go-d-block {
    display: block;
}